/* CARD */
.expense-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2b2b2b;
  padding: 1rem;
  margin: 1rem auto;
  width: 600px;
  border-radius: 12px;
  color: white;
}

/* DATE */
.expense-date {
  min-width: 90px;
  background-color: #1e1e1e;
  padding: 0.6rem;
  border-radius: 8px;
  text-align: center;
}

/* TITLE + PRICE */
.expense-item__description {
  flex: 1;
  margin: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense-item__price {
  background-color: #6a0dad;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  font-weight: bold;
}

/* DELETE BUTTON (TEXT) */
.delete-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
}

.delete-btn:hover {
  background-color: #ff1f1f;
}
/* FORM ROW CENTERING */
.expense-form {
  display: flex;
  justify-content: center;   
  align-items: center;
  gap: 0.8rem;
  flex-wrap: wrap;
}
.expense-form input {
  width: 140px;
}

.expense-list {
  display: flex;
  flex-direction: column;
  align-items: center; 
}
