body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;  
  align-items: center;      

  background-color: #242424;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
